@import "./partials/font";

@import "./partials/spacings";

@import "./partials/reset";

@import "./partials/animations";

@import "./partials/buttons";

@import "./partials/color";

@import "./partials/mixins";

header {
  padding: $size-4;
  background-color: $main-color;

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 40%;
    img {
      width: $size-8;
    }
    ul {
      display: flex;

      li {
        font-size: $size-5;
        padding-right: $size-8;
        a {
          color: $secondary-color;
        }
      }
    }
  }
  hr {
    color: $secondary-color;
  }
}

.hero {
  background-color: $main-color;
  color: $secondary-color;
  padding: $size-4;
  .hero-part {
    display: flex;

    .text-hero {
      width: 70%;
      padding: $size-4;
      h1 {
        font-size: $size-7;
      }
      p {
        font-size: $size-4;
      }
    }
    .div-img {
      width: 30%;
      height: 300px;
      overflow: hidden;
      img {
        width: 100%;
      }
    }
  }
  .buttons {
    padding-right: $size-4; /* non capisco perchè non mi da il padding richiesto
     */
  }
}
